/* applies the following to the whole page */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

/* provides a transparent background */
html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

/* establishes a hover color to nav bar */
.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* makes the provided img the back ground for the header and merges the transparent color to the img */
.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(https://images.pexels.com/photos/9996329/pexels-photo-9996329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.text {
  display: inline;
  margin: 1em;
}

.box {
  max-width: 200px;
  margin: 0, auto;
  padding: 0, 1.5em;
}
.name {
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 4em;
}

.bigger-name {
  font-size: 6em;
}

.section-header {
  font-weight: normal;
  text-align: center;
  font-size: 2.5em;
}

/* specific sizing and spacing for the portfolio img */
.port-photo {
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 15px;
}

.main-footer {
  background-color: rgb(84, 84, 128);
  color: white;
  padding: 0.25em 0;
}

.main-footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

.main-footer-box {
  display: flex;
  align-items: center;
}

.main-footer-box ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav {
  padding: 0 0.5em;
}

/* css for the back to top botton */
.gotopbtn {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

/* sizing for the project img */
.project1 img {
  height: 400px;
  width: 500px;
  padding: 1em;
}

.project1-info {
  text-align: center;
}
